
.login-container{
    width: 100%;    
    max-width: 100%;
    color: darkgreen;     
}

.login-container h3{
    font-size: 20px; 
    font-weight: bold; 
    margin-bottom: 0px;
}

.form-container h2{
    color: green; 
}

form{
    display: flex; 
    flex-wrap: wrap; 
    align-items: center; 
    width: 100%;
    flex-direction: column; 
    color: green; 
    background: rgba(0, 0, 0, 0.507);
}

form input{
    border-right: 0px solid black;
    border-left: 0px solid black;
    border-top: 0px solid black; 
    color: darkgreen; 
    border-bottom: 2px solid white; 
    font-weight: 800; 
    background: rgba(0, 0, 0, 0); 
    margin-bottom: 20px; 
    height: 25px; 
    width: 70%; 
    font-family: 'Michroma', sans-serif;
}

form input:focus{
    outline: none; 
}

form input::placeholder{
    color: darkgreen;
    font-size: 16px; 
    font-family: 'Michroma', sans-serif;

}

.form-button{
    border: 1px solid green;
    width: 40%; 
    padding: 5px; 
    display: inline-block;
}

.submit-button{
    border: 2px solid darkgreen; 
    padding: 7px 35px; 
    margin-top: 10px; 
    background: white; 
    font-weight: 800; 
    border-radius: 5px; 
}

.menu-container h3{
    color: green; 
    padding-bottom: 20px; 
}

textarea{
    width: 70%; 
    height: 85px; ;
}