button{
    display: flex;
}
    
.input{
    display: flex; 
    color: green;  
    font-weight: bold; 
    text-align: center; 
}
    
.input::placeholder{
    color: black;
    font-size: 11px; 
    font-weight: bold;  
}

.header{
    display: flex; 
    color: white; 
    justify-content: center;  
}

.controls{
    display: flex;   
    flex-wrap: wrap; 
    min-height: 30px; 
    justify-content: center; 
    background-color: green; 
    border: 1px solid white; 
    border-radius: 15px; 
}

.container{
    display: flex; 
    justify-content: center;  
}

.triangle {
    display: flex;  
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid green; 
    animation-name: triangles; 
    animation-duration: 5s;
    margin-top: 40%;
    position: absolute; 
    animation-iteration-count: infinite;  
    animation-timing-function: linear; 
}


@keyframes triangles {
    0%{
        transform: rotate(999900deg);  
    }100%{
        color: green; 
    } 
}

.numbers{
    color: white; 
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;  
    position: absolute;
    bottom: 0px; 
    width: 100%; 
    padding-bottom: none; 
    height: 15%; 
}

.numbers div{
    width: 33.3%; 
    margin-bottom: 0px;

}
.choice1{
    background: black; 
    border: 1px solid green; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%;
    margin-bottom:0px; 
}

.numbers h1{
    font-size: 45px; 
    font-weight: 100; 
    margin-top: 0px; 
}


.round2{
    color: white; 
    border: 1px solid green; 
    display: flex; 
    justify-content: center; 
    width: 280px; 
    margin: auto; 
    font-size: 20px;  
    padding: 10px; 
    transform: translate(0px, -380px); 
    opacity: 0; 
}