button{
    display: flex;
}

.header{
    display: flex; 
    color: white; 
    justify-content: center;  
}

.controls{
    display: flex;   
    flex-wrap: wrap; 
    justify-content: center; 
    background-color: green; 
}

.controls button{
    display: flex; 
    justify-content: center; 
    width: 50%; 
    border-color: green; 
    background-color: green; 
    text-align: center; 
    color: white; 
    font-weight: 100; 
    padding: 10px; 
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 1.2px;
}

.container{
    display: flex; 
    justify-content: center;  
}

.triangle {
    display: flex;  
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid green; 
    animation-name: triangles; 
    animation-duration: 5s;
    margin-top: 38%;
    position: absolute; 
    animation-iteration-count: infinite;  
    animation-timing-function: linear; 
}


@keyframes triangles {
    0%{
        transform: rotate(999909deg);  
    }100%{
        color: green; 
    } 
}

.controls-container{
    position: absolute;
    bottom: 0px;
    width: 100%; 
    background: white; 
}

.numbers{
    color: white; 
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;  
 
    width: 100%; 
}

.numbers div{
    width: 33.3%; 
    height: 30%;
    margin-bottom: 0px;
}

.choice1{
    background: black; 
    border: 1px solid green; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%;
    margin-bottom:0px; 
}



.numbers h1{
    font-size: 35px; 
    font-weight: 100; 
    margin-top: 0px; 
    padding: 10px; 
}

.round2{
    color: white; 
    border: 1px solid green; 
    display: flex; 
    justify-content: center; 
    width: 280px; 
    margin: auto; 
    font-size: 20px;  
    padding: 10px; 
    transform: translate(0px, -380px); 
    opacity: 0; 
}

.activate-button{
    background: green
}