button{
    display: flex;
}

.header{
    display: flex; 
    color: white; 
    justify-content: center;  
}

.controls{
    display: flex;   
    flex-wrap: wrap; 
    justify-content: center; 
    background-color: green; 
}

.controls div{
    display: flex; 
    justify-content: center; 
    width: 49%; 
    border-color: green; 
    background-color: green; 
    border: 1px solid darkgreen;
    text-align: center; 
    color: white; 
    font-weight: 800; 
    padding: 13px 0px; 
    font-size: 15px;
    letter-spacing: 1.2px;
}

.container{
    display: flex; 
    justify-content: center;  
}

.triangle {
    display: flex;  
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid green; 
    animation-name: triangles; 
    animation-duration: 40s;
    position: absolute; 
    animation-iteration-count: infinite;  
    animation-timing-function: linear; 
    top: 40%; 
}


@keyframes triangles {
    0%{
        transform: rotate(999999deg);  
    }100%{
        color: green; 
    } 
}

.controls-container{
    position: absolute;
    bottom: 0px;
    width: 100%; 
    background: white; 
}

.numbers{
    color: white; 
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;  
 
    width: 100%; 
}

.numbers div{
    width: 33.3%; 
    height: 30%;
    margin-bottom: 0px;
}

.choice1{
    background: black; 
    border: 1px solid green; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%;
    margin-bottom:0px; 
}



.numbers h1{
    font-size: 35px; 
    font-weight: 100; 
    margin-top: 0px; 
    padding: 10px; 
}

.round2{
    color: white; 
    border: 1px solid green; 
    display: flex; 
    justify-content: center; 
    width: 280px; 
    margin: auto; 
    font-size: 20px;  
    padding: 10px; 
    transform: translate(0px, -380px); 
    opacity: 0; 
}

.activate-button{
    background: green;
    transition: 3s;
}

.container span{
    font-size: 14px; 
    font-weight: 700; 
    color: white; 
}

.span-container{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between; 
    padding: 10px 1px; 
    width: 90%; 
}

.nextRound{
    border: 1px solid darkGreen;
    color: white; 
    transition: 3s;
    padding: 10px; 
    position: absolute;
    top: 40%;
    opacity: 0; 
}

.nextRound-container{
    width: 100%; 
    display: flex; 
    justify-content: center; 
}

.playAgain{
    border: 1px solid darkGreen;
    color: white; 
    opacity: 0;
    transition: 4s;
    padding: 10px; 
    position: absolute;
    transform: translate(-1000px, 0px);
    top: 40%;
}

.playAgain-container{
    width: 100%; 
    display: flex; 
    justify-content: center; 
}

.points-board{
    display: flex; 
    width: 100%; 
    justify-content: center; 
    flex-direction: column; 
    align-items: center; 
    font-weight: 800; 
    color: white; ;
    transform: translate(-1000px, 0px);
}
.points-board h2{
    font-size: 19px; 
    border-bottom: 1px solid green;
}
.points-board p{
    font-size: 13px; 
}

.points-board-restart{
    border: 3px solid green;
    padding: 6px;
    border-radius: 5px; 
}

p.points-board-restart{
    font-size: 11px; 
}

